{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}
{% block content %}
  <h1>1l.is</h1>
  <p>1l.is is a simple URL shortener.</p>
  <form action="/create" method="post">
    <input
      id="url"
      type="text"
      name="url"
      placeholder="Enter the url to shorten"
    >
    <input type="submit" value="Submit">
  </form>
{% endblock %}
